body {
	background-color: #F5F5F5;
	color: #344767 !important;
}

a {
	text-decoration: none !important;
}

.max-dt-width {max-width: 700px !important; height: 1130px !important;}

.dropdown-item {
	color: #344767 !important;
}

.bg-primary-badge {
    background-color: #EBE9F6 !important;
    color: #5844bf;
}

.bg-success-badge {
    background-color: #DBF7E8 !important;
    color: #5D9379;
}

.bg-danger-badge {
    background-color: #FDB7B7 !important;
    color: #A26C6C;
}

.bg-warning-badge {
    background-color: #fcebe4 !important;
    color: #fa5f1c;
}

.bg-light-badge {
    background-color: #EEE !important;
    color: #777;
}

.table {
    color: #344767 !important;
}


.body-login {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2 !important;
}

.form-signin input[type="text"] {
  margin-bottom: -1px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.form-signin input[type="password"] {
  margin-bottom: 10px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}